@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeueBlack.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeueBlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeueBold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeueBoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeueHeavy.otf') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeueHeavyItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeueThin.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeueThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeueUltraLight.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeueUltraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}